- url = "http://widge.herokuapp.com/widgets/WIDGET_NAME"

%h1 How to use the proxy

%p
  In order to post data to a widget on the dashboard, you need to go via this proxy.
  In order to do so you will need the following ingredients:

%ol
  %li
    %strong A widget
    \- Ask Alan, Andrew or Dave to add a widget for you. They will then give you a WIDGET_NAME.
  %li
    %strong An API key
    \- your key is
    %strong= current_user.api_token

%p
  You can then send this by sending a POST request to
  %strong= url
  with the appropriate JSON.

%h2 Examples

%pre
  = "$ curl -d '{ \"token\" : \"#{current_user.api_token}\", \"data\" : <DATA> }' #{url}"

%p
  where
  %strong WIDGET_NAME
  is the name of the widget you were given and
  %strong DATA
  is one of the following depending on which type of widget you have.


%h3 Graph


%h3 List


%h3 Meter


%h3 Number

%h4 Bindings

%ul
  %li title    (string)
  %li current  (number)
  %li moreinfo (string)

%h4 Data Example

%pre
  = "{ \"title\" : \"The title\", \"current\" : 34, \"moreinfo\" : \"The sub text\" }"


%h3 Text

%h4 Bindings

%ul
  %li title    (string)
  %li text     (string)
  %li moreinfo (string)

%h4 Data Example

%pre
  = "{ \"title\" : \"The title\", \"text\" : \"The main text\", \"moreinfo\" : \"The sub text\" }"


